/* Variables */

// Login
$login_bg: #2d3a4b;
$light_gray: #eee;
$dark_gray: #889aa4;

// Sidebar
$sideBarWidth: 210px;
$subMenuBg:#001528;
$subMenuHover:#001528;
$subMenuActiveText:#f4f4f5;
$menuBg:#304156;
$menuText:#bfcbd9;
$menuActiveText:#409EFF; // Also see settings.sidebarTextTheme


// Navbar
$headerBg: #fff;

// use sass variables in ts
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}
