/*
 * @Description: 过度动画
 * @Author: 晓枫
 * @Date: 2020-04-30 09:56:20
 * @LastEditTime: 2020-05-02 15:46:03
 */

// fade-transform
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
